.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #e7e8ea;
}

.transparent {
    background: transparent !important;
}

.spinner {
    width: 20vw;
    height: 20vw;
    display: inline-block;
    animation: spin 1s ease-in-out infinite;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .3);
    border-top-color: #fff;
}

.big {
    width: 26vw;
    height: 26vw;
    animation: spin 1s ease-in-out infinite;
    border: 10px solid rgba(255, 255, 255, .3);
    border-top-color: #fff;
}

@keyframes spin {

    to {
        transform: rotate(360deg);
    }
}

.changeCamera {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    background: #101010;
}

.cameraWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #000;
}

.buttons {
    /* position: absolute;
    bottom: 0;
    width: 100vw; */
    margin-top: auto;
    padding: 1vw;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: 'left center right';
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    background: #e7e8ea;
    place-items: center;
    justify-self: flex-end;
    place-items: center;
}

.buttonLeft {
    grid-area: left;
}

.buttonRight {
    grid-area: right;
}

.photoButtons {
    display: flex;
    grid-area: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoButtons button:first-child {
    margin-bottom: 1vh;
}

.screenshot {
    width: max-content;
    box-sizing: content-box !important;
    position: relative;
    transform: scale(.9);
    border-radius: 20px;
    border: 5px solid #fff;

    &::before {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        content: '';
        background-image: var(--image);
        background-size: cover;
        border-radius: 20px;
    }

    img {
        height: 100%;
        box-sizing: content-box !important;
        border-radius: 20px;
    }
}

.finishButtons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.glassMenu {
    /* width: 40vw; */
    /* height: 15vw; */
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2vw;
    left: 2vw;
    z-index: 20;
    background: rgba(231, 232, 234, .16);
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    border-radius: 16px;
    backdrop-filter: blur(10.4px);

    & * {
        color: rgba(255, 255, 255, .5);
    }

    .backToMenuIcon {
        width: 6vw;
        height: 6vw;
    }

    span {
        margin-left: 1vw;
        color: rgba(255, 255, 255, .5);
        font-size: 2.6rem;
    }
}

.slider {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.slide {
    width: 100%;
    height: 100%;
    background: transparent;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.photoFlash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    background-color: #fff;
    animation: cameraFlash 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.saveButtons {
    display: flex;
}

@keyframes cameraFlash {

    50% {
        opacity: .6;
    }

    100% {
        opacity: 0;
    }
}
